
@import '../index.scss';
@import "~bootstrap/scss/bootstrap";

.Login {
    .login-layout{
      align-items: center;
      min-height: calc(100vh - 0px);
      @media(min-width: 425px) and (max-width: 767px) {
        margin-top: 20px;
      }
      .form-container {
        @media(max-width: 767px) {
          display: flex;
          justify-content: center;
        }
      }
      .login-form {
        color: white;
        background-image: url(../images/loginFormBg.png);
        background-repeat: no-repeat;
        padding: 56px 56px 392px 32px;
        width: 82%;
        margin-top: 0;
        border-left: none;
        float: right;
        background-size: 100% 100%;
        margin: 115px 0px 0 0;
        @media (min-width: 1440px) and (max-width: 1599px) {
          padding: 40px 60px 276px 32px;
          width: 75%;
          margin: 100px 10px 0 0;
        }
        @media (min-width: 1200px) and (max-width: 1439px) {
          padding: 40px 56px 248px 28px;
          width: 82%;
          margin: 100px 10px 0 0; 
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          padding: 24px 28px 148px 16px;
          width: 95%;
          margin: 90px 0px 0 0;
        }
        @media (min-width: 768px) and (max-width: 991px) {
          padding: 20px 28px 100px 10px;
          width: 100%;
          margin: 0;
        }
        @media(min-width: 576px) and (max-width: 767px) {
          width: 472px;
          float: none;
          padding: 40px 40px 236px 20px;
          margin: 0;
        }
        @media(min-width: 425px) and (max-width: 575px) {
          width: 340px;
          float: none;
          padding: 40px 40px 142px 20px;
          margin: 0;
        }
        @media(min-width: 320px) and  (max-width: 424px) {
          padding: 16px 16px 84px 16px;
          float: none;
          margin: 0;
          width: 288px;
        }
        .login-form-fields {
          padding-left: 20px;
          @media(min-width: 320px) and (max-width: 424px) {
            padding: 0;
          }
          .loginText {
            font-size: 30px;
            color: #fff;
            text-align: left;
            margin: 0 0 16px;
            font-family: Arial, Helvetica, sans-serif;
            @media (min-width: 992px) and (max-width: 1199px) {
              font-size: 24px;
            }
            @media (min-width: 320px) and (max-width: 424px) {
              font-size: 12px;
              margin: 0 0 4px;
            }
          }  
          .email-form {
            display: flex;
            .email-icon {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              padding: .375rem .75rem;
              margin-bottom: 0;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #495057;
              text-align: center;
              white-space: nowrap;
              background-color: #ffffff;
              border: 1px solid #ffffff;
              border-top-left-radius: 0.25rem;
              border-bottom-left-radius: 0.25rem;
              @media(min-width: 320px) and (max-width: 424px) {
                padding: 0;
              }
  
              .inv-icon {
                max-width: 40px;
                @media(min-width: 320px) and (max-width: 425px) {
                  max-width: 20px;
                }
              }
            }
            .textField {
              width: 100%;
              background: transparent;
              border: 1px solid white;
              color: white;
              @media(min-width: 992px) and (max-width: 1199px) {
                width: 80%;
              }
              @media(min-width: 320px) and (max-width: 424px) {
                line-height: 14px;
                font-size: 12px;
              }
              ::placeholder {
                text-align: center;
                color: white;
                opacity: 1; /* Firefox */
              }
            }
          }
          .login-errors {
            color: #bf1650;
            margin-top: 12px;
          }

          .login-button {
            text-align: center;
            @media(min-width: 768px) and (max-width: 991px) {
              text-align: left;
            }
          }
        }
        .submit {
          background: #e3a70f;
          color: black;
          margin: 8px;
          margin-top: 32px;
          font-weight: 600;
          border-radius: 28px;
          font-size: 20px;
          background: #e3a70f;
          @media(min-width: 992px) and (max-width: 1199px) {
            font-size: 14px;
          }
          @media(min-width: 768px) and (max-width: 991px) {
            font-size: 12px;
          }
          @media(min-width: 576px) and (max-width: 767px) {
            font-size: 16px;
          }
          @media(min-width: 320px) and (max-width: 424px) {
            margin-top: 14px;
            font-size: 12px;
          }

        }
        .registration-link {
          text-decoration: none;
        }
      }
    }
    .login-info-img {
      margin-top: 216px;
    }
    .bottom-vactor-img {
      position: fixed;
      bottom: 0;
      right: -25px;
      width: 286px;
      @media (min-width: 1440px) and (max-width: 1599px) {
        width: 235px;
      }
      @media (min-width: 1280px) and (max-width: 1365px) {
        width: 216px;
      }
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 190px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 200px;
      }
      @media(min-width: 425px) and (max-width: 767px) {
        width: 180px;
      }
      @media(min-width: 320px) and (max-width: 424px) {
        width: 120px;
      }
      .vactor-img {
        width: 100%;
      }
    }
  
    .login-details {
      text-align: center;
      @media (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 72px;
        text-align: left;
      }
      img {
        width: 75%;
        @media (min-width: 992px) and (max-width: 1199px) {
          width: 85%;
        }
        @media(min-width: 768px) and (max-width: 991px) {
          width: 100%;
        }
        @media (min-width: 425px) and (max-width: 767px) {
          width: 380px;
        }
        @media (min-width:320px) and (max-width: 424px) {
          width: 220px;
        }
      }
    }
}

  @media (max-width: 360px) {
      .login-img {
          width: 50%;
      }
  }
  