@import "~bootstrap/scss/bootstrap";

.registration-heading {
        color: #fff;
        text-align: center;
        margin: 24px;
    }
.registration {
    display: flex;
    justify-content: center;
    
    
    .registration-form {
        display: block;
        padding: 24px;
        background-color: slategrey;
        margin: auto;
        min-width: 50%;
        border: 1px solid white;
        border-radius: 8px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            &:hover {
            box-shadow: 0 28px 40px rgba(0,0,0,0.45), 0 25px 30px rgba(0,0,0,0.32);
            }
          
        .label-text {
            color: white;
        }
        .login-errors {
            color: #bf1650;
            margin: 0;
        }
        .sign-up {
            cursor: pointer;
            border: 1px solid #fff;
            border-radius: 12px;
        }
        .signup-cancel {
            cursor: pointer;
            text-decoration: none;
            color: #fff;
            background-color: black;
            padding: 8px 16px;
            border: 1px solid #fff;
            border-radius: 12px;
            float: right;
            &:hover {
                color: black;
                background-color: #fff;
            }
        }
    }
}
